.heading{
    font-size:2em;
    font-weight: bold;
    font-family:  Helvetica, sans-serif;
    color:#1c1c54;
}
.content{
    font-size:1.2em;
    color:#0000a1b4;
    font-family: Calibri, 'Trebuchet MS', sans-serif, Helvetica, sans-serif;
}