.navbar{
    display: flex;
    justify-content: space-between;
    color:#0000a1;
}
.navbar>nav{
    width:15vw;
    display: flex;
    justify-content: space-between;
}
.navbar>nav>a{

    color:#0000a1;
    text-decoration: none;
}

.navbar>h2{
    margin: 0;
    padding-left: 0;
}